@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(controller: AppController)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Pixel Tank War") {
    <div align="center">
        <h1>Pixel Tank War</h1>

        <table background="@routes.Assets.versioned(controller.levelBackgroundImagePath)">

        @for(row <- 0 until controller.rowCount) {

            <tr>
            @for(column <- 0 until controller.columnCount) {
                <td width="60px" height="60px">
                @if(controller.cellContentImagePath(row, column).isDefined) {
                    <img height="50" width="50" src="@routes.Assets.versioned(controller.cellContentImagePath(row, column).get)">
                    }

                </td>
            }
            </tr>
        }
        </table>
    </div>

}
